// main colors
$primary: #41b883;
$secondary: #1a1a1a;

// base colors
$white: #ffffff;
$gray: #60656f;
$dark: $secondary;

$light-green: $primary;
$dark-green: #137547;

$light-blue: #3185fc;
$dark-blue: #275dad;

$light-red: #ef233c;
$dark-red: #8d0801;

$light-yellow: #f7ce5b;
$dark-yellow: #c8963e;

$light-orange: #f0a202;
$dark-orange: #d95d39;

// meaning colors
$error-color: $light-red;
$warning-color: $light-yellow;
$success-color: $light-green;
$info-coloR: $light-blue;
