html,
body {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // make 10px is base font-size to easy calculating
}

body {
  font-size: 1.6rem; // restore basic 16px font-size
}
